{% extends 'ActivpikKctusBundle::base.html.twig' %}


{% block javascripts %}
    <script type="text/javascript">
        var json        = '{{json|replace({"\'": "\\\'"})|raw}}';
        var key         = '{{key}}';
        var iosocket    = io('{{serverio}}');

        $(function () {
            if (iosocket) {
                iosocket.on('connect', function () {
                    iosocket.emit('video.init', {key: key});

                    iosocket.on('video.goto', function (d) {
                        jwplayer('mediaplayer').seek(d.to);
                    });

                    iosocket.on('video.new.pad', function (d) {
                        //alert('New pad is detected.');
                        jwplayer('mediaplayer').play();
                    });
                });
            }
        });
    </script>
    <script>
        $(function () {
            var obj = JSON.parse(json);

            jwplayer('mediaplayer').setup({
                file: obj.video_url,
                width: '100%',
                aspectratio: "16:9",
                image: '{{ asset("upload/qrcode/"~key~".png") }}',
                primary: 'html5'
            });
            $(".container").css({"width": "100%", "padding": 0, "margin": 0});
            $.backstretch(obj.bg);
        });
    </script>
{% endblock %}

{% block contenu %}
    <div id="mediaplayer"></div>
{% endblock %}